.documents-container{
    text-decoration-line: none;
    height: 91vh;
    background-color: #1d314d;
}

.card-users {
    margin-top: 80px;
    max-width: 30rem;
}
.title{
    margin-top: 10px
}

.header{
    display: -webkit-flex;
    justify-content: space-between;
}

.h1{
    display: -webkit-flex;
    justify-content: flex-start;
}

.notifications{
    display: -webkit-flex;
    justify-content: flex-end;
}

.label{
    position: absolute;
    margin-top: -1vh;
    color: red;
    font-size: 2.5vh;
}

.button{
    border-radius: 4px;
    padding: 10px;
    color: white;
    background-color: #1d314d; 
    font-size: 15px;    
}

.button:hover{
    color: white;
    background-color: teal; 
}