
.register_login{
    border-radius: 5px;
    background-color:white;
    color: #df3e32;
    border: 2px solid #df3e32;  
    width: 100%;
    margin: 5px;
}

.register_login:hover{
    background-color:#1d314d ;
    border: 2px solid #df3e32;
}

.navbar-brand{
    text-align: center;
}


.logout{
    background-color: tomato
}

.logout:hover{
    background-color: #df3e32
}

.nav-link{
    color: gray;
}
.nav-link:hover{
    color: black;
}

.table{
    text-align: left;
}

.menu-item{
   font-size: 50px;
}

.edit{
background-color: orange;
}