.menu-lateral{
    
}
.register_login{
    border-radius: 5px;
    background-color:white;
    color: #df3e32;
    border: 2px solid #df3e32;  
    width: 100%;

}

.register_login:hover{
    background-color:#1d314d ;
    border: 2px solid #df3e32;
}

.DropdownToggle{
    background-color: tomato;
    
}


.logout{
    background-color: tomato
}

.logout:hover{
    background-color: #df3e32
}

.nav-link{
    width: 25vh;
    color: black;
}



.menu-item{
   font-size: 50px;
}
