body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.edit{
    display: flex;
}

.sidebar-container{
    min-height: 100vh;
    background-color: lightgray;
    margin-top: -72px;
    margin-left: -129px;
    padding: 5px 0px 0px 0px;
    
}

.sidebar{
    width: 200px;
    padding:4px 0px 4px 0px;
}

.sidebar-link:hover{
    border-right: 5px solid dimgray;
    background-color: gainsboro;
}

#container{
margin-left: 80px;
}

#texto{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}


#user{
    width: 15%;
    float: left;
    padding: 25px;
}

#bars{
    align-content: center;
    width: 35px;
    margin-top: 800%;
    height: 35px;
}

#close{
    width: 40px;
   margin-top: 25px;
   margin-left: 10px;
   height: 25px
}

#chat{
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration-line: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
}