div.center{
    min-height: 91vh;
}


.end,.start {
    padding-top: 41.5vh;
    min-height: 99.5vh;
}

.doc, .chats{
    height: 25px;
    width: 25px;
}


.container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
